:root{
    --main-bg-color:hsl(47, 88%, 63%);
    --main-color:hsl(0, 0%, 7%);
    --small-font-size: 14px;
    --border-radius: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--main-color);
}
 html, body{
    font-family: "Figtree", sans-serif;
    background-color: var(--main-bg-color);
 }

 main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
 }
 .container{
    border: solid 1px var(--main-color);
    background-color: hsl(0, 0%, 100%);
    width: 384px;
    border-radius: var(--border-radius);
    padding: 24px;
    box-shadow: 8px 8px var(--main-color);
    transition: box-shadow 0.5s ease-out 10ms;
 }
.container:hover{
    box-shadow: 16px 16px var(--main-color);
}
.illu{
    border-radius: var(--border-radius);
}
 .content{
    color: var(--main-color);
    margin-top: 24px;
 }
 .category{
    font-weight: bold;
    font-size: var(--small-font-size);
    margin-bottom: 12px;
    background-color: var(--main-bg-color);
    border-radius: 4px;
    width: 82px;
    padding: 4px 12px;
 }
 .publish_date{
    font-size: var(--small-font-size);
    margin-bottom: 12px;
 }
 h2{
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 12px;
 }
 a:hover{
    color: var(--main-bg-color);
 }
 p{
    color: hsl(0, 0%, 50%);
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 24px;
 }
 .author{
    display: flex;
    align-items: center;
    gap: 12px;
 }
 .author img{
    width: 32px;
 }
 .author span{
    font-size: var(--small-font-size);
    font-weight: bold;
 }